{{/* layouts/partials/footer.html */}}

<footer class="hextra-footer hx-pb-[env(safe-area-inset-bottom)] print:hx-bg-transparent">
  <div class="blur-background"></div>
  <div class="hx-max-w-screen-xl hx-mx-auto hx-flex hx-flex-col hx-items-center hx-py-12 hx-px-[max(env(safe-area-inset-left),1.5rem)]">
    
    {{/* Social Media Icons Section */}}
    {{- with .Site.Params.footer.socialMedia -}}
      <div class="hx-flex hx-gap-2 hx-mb-4">
        {{- range $platform, $data := . -}}
          {{- if $data.enable -}}
            <a href="{{ $data.url }}" 
            target="_blank" 
            rel="noopener noreferrer"
            class="social-icon"
            aria-label="Follow us on {{- $platform | title -}}">
          {{- partial "utils/icon.html" (dict "name" $platform "attributes" "class='social-icon-svg'") -}}
        </a>
          {{- end -}}
        {{- end -}}
      </div>
    {{- end -}}

    {{/* Copyright Section */}}
    {{- if .Site.Params.footer.displayCopyright -}}
      <div class="hx-text-center hx-text-xs">
        {{ .Site.Params.footer.copyright | default "© 2025 Eight Fortunes." | markdownify }}
      </div>
    {{- end -}}
    
  </div>
</footer>